body{  
    font-family: sans-serif;
    margin: 20px;
    font-size: 1.5vw;
    margin: 2fr 2fr 2fr;
}

p   {
    font-size: 0.5em;
}

body    >   div >      header   {
    background-color: green;
    color: white;
}

#title {
    margin: 0px;
    padding: 15px;
    font-family: sans-serif;
    width:100%;
    border-radius: 10%;
    text-align: center;
}

#menu {
    display: flex;
}

#menu >   li  {
    padding: 10px;
    margin: 5px;
}

#main-content   {
    display: flex;
    justify-content: space-around;
}

#ingredients    {
    margin: 50px;
    padding: 10px;
}

#Step-by-Step-Guide {
    margin: 50px;
    padding: 10px;
}

body    >   div >      footer   {
    background-color: red;
}

form    {
    font-size: 0.5em;
}
